<div class="ui icon message hidden" [class.visible]="havePermission === false"  *ngIf="!havePermission">
  <i class="lock icon"></i>
  <div class="content">
    <div class="header">
      Error
    </div>
    <p>You don't have permissions to use this tool.</p>
  </div>
</div>

<div class="ui container" *ngIf="havePermission">


  <!-- HEADER MENU -->
  <div class="ui menu">
    <div class="item">
      <img src="assets/logo.png" alt="RN SSI LOGO">
    </div>
    <div class="name">
      Upsiide Plus
    </div>
  </div>


  <!-- SMALL PAGINATION -->
  <div class="navigation">
    <ul>
      <li [class.active]="activeStage === 1" (click)="setActive(1)">1 - Setup</li>
      <li [class.active]="activeStage === 2" (click)="setActive(2)">2 - Confirmation</li>
      <li [class.active]="activeStage === 3" (click)="setActive(3)">3 - Results</li>
    </ul> 
  </div>

  <div class="ui active centered inline loader" *ngIf="loading"></div>

  <div class="ui warning message" *ngIf="errors.checkProject">
      <div class="header">
        Warning
      </div>
      The specified project number was not found on CA server.
    </div>

    <div class="ui warning message" *ngIf="errors.checkJSONpath">
        <div class="header">
          Warning
        </div>
        JSON file does not exist in the specified path.
      </div>

  <div class="ui piled segment segment1" *ngIf="activeStage === 1" [ngClass]="{ 'active': activeStage === 1,  'inactive': activeStage !== 1 }">
      <h4 class="ui dividing header">Please complete the form</h4>

      <form class="ui form" [formGroup]="projectForm">
          <div class="field">
            <label>Project Number</label>
            <input type="text" name="project-number" placeholder="53b/170634" formControlName="projectNumber">
            <div class="ui pointing red basic label" 
                *ngIf="projectForm.controls['projectNumber'].errors?.required && projectForm.controls['projectNumber'].dirty">Project Number is required.</div>
              <div class="ui pointing red basic label" 
                *ngIf="projectForm.controls['projectNumber'].errors?.minlength && projectForm.controls['projectNumber'].dirty">Project Number must be at least 6 characters long.</div>
          </div>
          <div class="field">
            <label>JSON file URL</label>
            <input type="text" name="json-path" placeholder="http://example.com/file.json" formControlName="projectPath">
            <div class="ui pointing red basic label" 
                *ngIf="projectForm.controls['projectPath'].errors?.required && projectForm.controls['projectPath'].dirty">JSON path is required.</div>
          </div>
          <button class="ui button" type="button" (click)="submitBasic()" [class.disabled]="!projectForm.valid">Next</button>
      </form>
  </div>

  <div class="ui piled segment segment2" *ngIf="activeStage === 2 && surveyDetails" [ngClass]="{ 'active': activeStage === 2,  'inactive': activeStage !== 2 }" >
      <h4 class="ui dividing header">Please review and confirm this is the project you want to modify</h4>
      <div class="ui grid">
          <div class="six wide column">
              <table class="ui striped table">
                <tbody>
                  <tr>
                    <td class="tdCaption">Creator</td>
                    <td>{{surveyDetails.creator}}</td>
                  </tr>
                  <tr>
                    <td class="tdCaption">Project Number</td>
                    <td>{{surveyDetails.projectNumber}}</td>
                  </tr>
                  <tr>
                    <td class="tdCaption">Project Name</td>
                    <td>{{surveyDetails.projectName}}</td>
                  </tr>
                  <tr>
                    <td class="tdCaption">Last Edit Date</td>
                    <td>{{surveyDetails.lastEditDate}}</td>
                  </tr>
                </tbody>
              </table>
              <button class="ui button myButton" (click)="detailsCancel()">
                  Cancel
              </button>
              <button class="ui primary button myButton" (click)="detailsConfirmed()">
                  Continue
              </button>
          </div>
          <div class="ten wide column">
            <div class="ui form">
              <div class="field">
                <label>Survey XML</label>
                <textarea rows="24" name="txtXML" class="txtXML" [(ngModel)]="surveyDetails.xml"></textarea>
              </div>
            </div>
          </div>
      </div>
  </div>

  <div class="ui piled segment segment3" *ngIf="activeStage === 3" [ngClass]="{ 'active': activeStage === 3,  'inactive': activeStage !== 3 }" >
      <h4 class="ui dividing header">Results</h4>

      <div class="ui icon message" *ngIf="updateXMLresult">
        <i class="{{updateXMLresult.icon}} icon"></i>
        <div class="content">
          <div class="header">
            {{ updateXMLresult.result | uppercase }}
          </div>
          <p>{{ updateXMLresult.additionalMessage }}</p>
          <p *ngIf="updateXMLresult.result === 'decipher_error'"><a href="data/output.xml" target="_blank">Download</a> output.xml</p>
        </div>
      </div>
  </div>

</div>