

<div class="ui container">


  <!-- HEADER MENU -->
  <div class="ui menu">
    <div class="item">
      <img src="../assets/logo.png" alt="RN SSI LOGO">
    </div>
    <div class="name">
      Upsiide Plus
    </div>
  </div>


  <!-- SMALL PAGINATION -->
  <div class="navigation">
    <ul>
      <li [class.active]="activeStage === 1" (click)="setActive(1)">1 - Setup</li>
      <li [class.active]="activeStage === 2" (click)="setActive(2)">2 - Confirmation</li>
      <li [class.active]="activeStage === 3" (click)="setActive(3)">3 - Results</li>
    </ul> 
  </div>

  <div class="ui active centered inline loader" *ngIf="loading"></div>

  <div class="ui warning message" *ngIf="errors.checkProject">
      <div class="header">
        Warning
      </div>
      The specified project number was not found on CA server.
    </div>

    <div class="ui warning message" *ngIf="errors.checkJSONpath">
        <div class="header">
          Warning
        </div>
        JSON file does not exist in the specified path.
      </div>

  <div class="ui piled segment segment1" *ngIf="activeStage === 1" [ngClass]="{ 'active': activeStage === 1,  'inactive': activeStage !== 1 }">
      <h4 class="ui dividing header">Please complete the form</h4>
      
      <form class="ui form">
          <div class="field">
            <label>Project Number</label>
            <input type="text" name="project-number" placeholder="53b/170634" [(ngModel)]="projectNumber">
          </div>
          <div class="field">
            <label>JSON file URL</label>
            <input type="text" name="json-path" placeholder="http://example.com/file.json" [(ngModel)]="jsonPath">
          </div>
          <button class="ui button" type="button" (click)="submitBasic()" [disabled]="projectNumber === '' || jsonPath === ''">Next</button>
      </form>
  </div>

  <div class="ui piled segment segment2" *ngIf="activeStage === 2" [ngClass]="{ 'active': activeStage === 2,  'inactive': activeStage !== 2 }" >
      <h4 class="ui dividing header">Please review and confirm this is the project you want to modify</h4>
  </div>

  <div class="ui piled segment segment3" *ngIf="activeStage === 3" [ngClass]="{ 'active': activeStage === 3,  'inactive': activeStage !== 3 }" >
      Stage 3
  </div>

</div>